<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class= 'container p-4'>
    <a class="navbar-brand" routerLink="/">NgMysql CRUD</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto" active>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pokemons"> <i class = "fas fa-list-alt"></i> Pokemones <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pokemons/add"> <i class = "fas fa-plus-circle"></i>Agregar Pokemon</a>
        </li>
    
      </ul>
    </div>
  </div>
  </nav>